
@{
    Layout = "~/Views/_Layout.cshtml"; //Aca le decimos qué Layout usar
    ViewBag.Title = "Index"; //Aca definimos esto
}

<h2>Propio de @ViewBag.Title</h2> <!--"Propio de Index"-->
<p>Lo que esta escrito aqui dentro, es propio del Index.</p>
<p>No es algo que se encuentre dentro del Layout.</p>
